$color-primary: rgb(97, 6, 32);
$color-secondary: rgba(241, 120, 140, 0.981);
$color-tertiary: rgb(112, 6, 36);
$color-secondary-dark: #ff7730;
$color-black: #000;
$color-grey-dark: #999;
$color-white: #fff;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
