@import "abstracts/variable";
@import "base/animation";
@import "components/button";
@import "pages/home";
@import "base/base";
@import "base/tyography";
@import "components/form";
@import "components/loading";
@import "pages/result";
@import "pages/popup";