.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 50%;
    display: block;
    transition: all 0.3s;
    margin: 0 auto;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 23.5rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
.textarea {
  transform: translateX(-0.3%);
  resize: none;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: #999;
    width: 0.5rem;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(67, 65, 65);
    border-radius: 5px;
  }
}
.button {
  align-self: center;
  transform: translateY(-35%);
}
