.heading__secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  color: transparent;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  -webkit-background-clip: text;
  margin: 2rem auto;
  //margin: 3rem;
}
