.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );
  background-color: black;
  height: 58rem;
  width: 145.5rem;
  display: grid;
  grid-template-columns:
    min-content
    [start]minmax(auto, 75rem) [margin-start] 13.6rem[margin-end] minmax(
      auto,
      59rem
    )
    [end];
  grid-template-rows: auto;
  overflow: hidden;
}
.display {
  grid-column: margin-start/end;
  grid-row: 1;
  background-size: cover;
  width: 100%;
  height: 100%;

  &__video {
    position: relative;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    width: 100%;
    height: 100%;
  }
  &__canvas {
    position: absolute;
    z-index: 5000;
    width: 50%;
    height: 100%;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    background-blend-mode: darken;
  }
}
.form__container {
  background-color: rgba(255, 255, 255, 0.933);
  grid-column: start/margin-end;
  grid-row: 1;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5000;
  clip-path: polygon(0% 0, 96.8% 0, 84.8% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pointer {
  position: absolute;
  grid-column: 1;
  margin: -3rem;
  height: 6rem;
  width: 6rem;
  z-index: 10000;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0;
  background-image: radial-gradient($color-primary, $color-secondary);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
