.popup {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
  backdrop-filter: blur(10px);
  margin: -3rem;
  opacity: 0;
  visibility: hidden;
  z-index: 100000;
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s;
  text-align: center;
  &__display_box {
    position: absolute;
    height: 50rem;
    width: 135.5rem;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
  }
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__display_box {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
  &__content {
    position: absolute;
    font-size: 1.4rem;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    justify-items: start;
    text-align: left;
    margin: 3rem;
    &__question {
      margin-bottom: 0.8rem;
      font-weight: 700;
      display: inline-block;
      hyphens: auto;
      margin-top: 0.8rem;
    }
    &__answer {
      font-weight: 400;
      hyphens: auto;
      margin-bottom: 0.25rem;
    }
    &__emotion {
      color: $color-primary-light;
      font-weight: 500;
      size: 1rem;
      margin-bottom: 1.2rem;
      text-transform: uppercase;
    }
  }
}
